.header {
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 82px;
    margin-bottom: 36px;

    &__item {
      &--nav {
        width: 35%;

        @include lm-block() {
          width: 45%;
        }

        @include md-block() {
          display: none;
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}

.nav-top {
  display: flex;
  justify-content: space-between;

  a {
    font-weight: 500;
    line-height: 129%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;
    position: relative;
    white-space: nowrap;

    &::before {
      position: absolute;
      content: '';
      display: block;
      background-color: $color-green;
      height: 3px;
      width: 100%;
      bottom: -6px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover, &:active {
      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}

.sub-menu-parent {
  position: relative;

  &::after {
    content: '▾';
    display: block;
    position: absolute;
    right: -12px;
    top: 0;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background-color: #F2F2F2;
  z-index: 3;
  padding: 10px;
  border-bottom: 2px solid $color-green;

  li {
    padding-bottom: 10px;
  }
}
.btns {
  .btn {
    margin-left: 10px;
  }

  .btn--transparent {
    @include md-block() {
      display: none;
    }
  }
}