.faq {
    &__icon {
        width: 20px;
        height: 15px;
        transition: -webkit-transform 0.4s ease;
        transition: transform 0.4s ease;
        transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    }

    &__item {
        background: #eee;
        font-weight: bold;
        font-size: 120%;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    &__item__hidden {
        background: #ddd;
        display: none;
    }
}

.rotate {
    transform: rotate(90deg);
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
