.section-warning {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: #22252E;
  padding: 8px 0;
  z-index: 2;

  &__items {
    width: 51%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #889099;

    @include lm-block() {
      width: 80%;
    }

    @include sm-block() {
      width: 100%;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    &__item {
      &--warn {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: $color-yellow;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 4px;
        }
      }

      &-1 {
        margin-right: 32px;
      }

      &--text {
        display: flex;

        @include sm-block() {
          width: 100%;
          order: 1;
          justify-content: space-between;
          margin-top: 5px;
        }
      }

      &--link {
        color: #ffffff;
      }
    }
  }
}

.btn--close-warning {
  position: absolute;
  right: 16px;
  top: 13px;

  @include sm-block() {
    right: 3px;
    top: 10px;
  }

  &:hover {
    transform: rotate(45deg);
  }

  svg {
    width: 14px;
    height: 14px;
  }
}