/* Made by Jimmy Gillam */
$checked-color: #34b93d;
$unchecked-color: #000;
$checkbox-height: 100px;
$background-color: #fff;
$font-color: #efefef;
$duration: 0.4s;

/* Checkmark style starts */

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: $checkbox-height/2;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: $checkbox-height/2;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: $checkbox-height/2;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: $checkbox-height * 1.2;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: $checkbox-height * 1.2;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: $checkbox-height * 1.2;
    }
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: $checkbox-height;
    height: $checkbox-height;
    border: $checkbox-height * 0.1 solid $unchecked-color;
    transition: border-color ease $duration/2;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;

    &::before, &::after {
        content: " ";
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        width: $checkbox-height * 0.2;
        height: 0;
        transition: opacity ease 0.5;
        background-color: $checked-color;
        transform-origin: left top;
        border-radius: 5px;
    }

    &::before {
        top: $checkbox-height * 0.72;
        left: $checkbox-height * 0.41;
        box-shadow: 0 0 0 $checkbox-height * 0.05 $background-color;
        transform: rotate(-135deg);
    }

    &::after {
        top: $checkbox-height * 0.37;
        left: $checkbox-height * 0.05;
        transform: rotate(-45deg);
    }
}

input[type="checkbox"]:checked + .checkbox, .checkbox.checked {
    border-color: $checked-color;

    &::after {
        height: $checkbox-height * 0.5;
        animation: dothabottomcheck $duration/2 ease 0s forwards;
    }

    &::before {
        height: $checkbox-height * 1.2;
        animation: dothatopcheck $duration ease 0s forwards;
    }
}
