<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>


<!--
    *********HEADER*******
-->
<header class="header">
    <div class="wrapper">
        <div class="header__items">
            <div class="header__items__item header__items__item--left">
                <a href="#" class="logo">
                    <div class="logo-pic">
                        <svg>
                            <use xlink:href="img/sprites/sprite.svg#logo"></use>
                        </svg>
                    </div>
                    <h1>магазин инструмента</h1>
                </a>
            </div>
            <div class="header__items__item header__items__item--right">
                <div class="header__items__item--top">
                    <nav class="nav-top">
                        <ul>
                            <li><a href="#">Каталог инструментов</a></li>
                            <li><a href="#">Все для сада</a></li>
                            <li><a href="#">Ручной интрумент</a></li>
                            <li><a href="#">Электрика</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Оплата</a></li>
                            <li><a href="#">О нас</a></li>
                        </ul>
                        <div class="login-items">
                            <button>Вход</button>
                            <button>Регистрация</button>
                        </div>
                        <div class="mobile-nav-button">
                            <div class="mobile-nav-button__line"></div>
                            <div class="mobile-nav-button__line"></div>
                            <div class="mobile-nav-button__line"></div>
                        </div>
                    </nav>
                </div>
                <div class="header__items__item--bottom">
                    <div class="banner"></div>
                    <ul class="options">
                        <li>
                            <a href="#">
                                <div class="pic">
                                    <svg>
                                        <use xlink:href="img/sprites/sprite.svg#cart"></use>
                                    </svg>
                                </div>
                                <span class="bold">3 шт. / 17 250 р.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="pic">
                                    <svg class="star">
                                    <use xlink:href="img/sprites/sprite.svg#star"></use>
                                </svg>
                                </div>
                                <span>Избранное (7)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="pic">
                                    <svg>
                                    <use xlink:href="img/sprites/sprite.svg#balance"></use>
                                    </svg>
                                </div>
                                <span>К сравнению (5)</span>
                            </a>
                        </li>
                    </ul>
                    <div class="pic__items">
                        <div class="pic__items__item">
                            <img src="img/pic-1.png" alt="pic">
                        </div>
                        <div class="pic__items__item">
                            <img src="img/pic-2.png" alt="pic">
                        </div>
                        <div class="pic__items__item">
                            <img src="img/pic-3.png" alt="pic">
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="time">
                            <span class="bold">Время работы:</span>
                            <span>10:00 — 19:00</span>
                        </div>
                        <a href="tel:8 495 721-25-25" class="phone">8 495 721-25-25</a>
                        <div class="city">
                            <span>Москва</span>
                            <button class="city__change">сменить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--
    *****NAVIGATION******
-->
<nav class="nav">
    <div class="wrapper">
        <div class="nav__items">
            <button class="search">
                <svg>
                    <use xlink:href="img/sprites/sprite.svg#search"></use>
                </svg>
            </button>
            <nav class="nav">
                <ul>
                    <li class="active">
                        <a href="#">Перфораторы</a>
                    </li>
                    <li>
                        <a href="#">Дрели</a>
                    </li>
                    <li>
                        <a href="#">Шлифмашины</a>
                    </li>
                    <li>
                        <a href="#">Пистолеты</a>
                    </li>
                    <li>
                        <a href="#">Электропилы</a>
                    </li>
                    <li>
                        <a href="#">Наборы инструментов</a>
                    </li>
                    <li>
                        <a href="#">
                            Акксесуары
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="bg-color">
                <a href="#">
                    Распродажа
                </a>
            </div>
        </div>
    </div>
</nav>

<nav class="mobile-menu">
    <ul>
        <li class="active">
            <a href="#">Перфораторы</a>
        </li>
        <li>
            <a href="#">Дрели</a>
        </li>
        <li>
            <a href="#">Шлифмашины</a>
        </li>
        <li>
            <a href="#">Пистолеты</a>
        </li>
        <li>
            <a href="#">Электропилы</a>
        </li>
        <li>
            <a href="#">Наборы инструментов</a>
        </li>
        <li>
            <a href="#">
                Акксесуары
            </a>
        </li>
    </ul>
</nav>

<!--
    *********MAIN*******
-->
<main class="main">

</main>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>

</html>