.block-tags {
  margin-top: 30px;

  @include sm-block() {
    display: none;
  }

  &__items {
    background-color: #F7F7F7;
    border-radius: 4px;
    padding: 21px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    line-height: 129%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;

    a {
      color: #323642;

      &:hover {
        color: $color-green;
      }
    }

    &__item {
      &--nav {
        width: 66.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
          color: $color-green;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &--links {
        display: flex;
        justify-content: space-between;
        width: 13%;
      }
    }
  }
}