.footer {
  padding: 84px 0;
  color: #889099;

  @include md-block() {
    padding: 40px 0;
  }

  h5 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;
  }

  a {
    color: #889099;

    &:hover, &:active {
      color: $color-green;
    }
  }

  .social {
    margin-top: 38px;

    &-links {
      display: flex;
      align-items: center;
      padding-top: 4px;

      svg {
        height: 28px;
        width: 28px;
        margin-right: 32px;

        @include md-block() {
          margin-right: 20px;
        }
      }
    }
  }

  &--logo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;

    h3 {
      color: #000000;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 58px;

    &__item {
      width: 50%;

      @include md-block() {
        width: 100%;
      }

      &:nth-child(1) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      p {
        margin-bottom: 13px;
      }
    }
  }

  ul {
    margin-bottom: 68px;
  }

  &--nav {
    width: 33.3333%;

    @include md-block() {
      width: 50%;
    }

    &--title {
      a {
        color: #323642;
      }
    }

    &--link {
      margin-bottom: 10px;
    }
  }
}