@font-face {
  font-family: 'HeliosCond';
  src: local('HeliosCond Bold'), local('HeliosCond-Bold'),
      url('../../fonts/HeliosCond-Bold.woff') format('woff'),
      url('../../fonts/HeliosCond-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: local('HeliosCond'), local('HeliosCond'),
  url('../../fonts/HeliosCond.woff') format('woff'),
  url('../../fonts/HeliosCond.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

